.main{
    display: flex;
    height: 850px;
    width: 1920px;
    padding-left: 280px;
    padding-right: 280px;
    background-color: #DDDDDD;
    align-items: center;
}

.main__image{
   position: relative;
   width:auto;
}

.main__header{
    position: relative;
}

.main__button{
    height:64px;
    width:235px;
}

.product__name{
    font-size: 38px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    position: relative;
    margin-top: 187px;
    margin-inline: 20%;
}