.header {
    font-family: "Open Sans", Arial, sans-serif;
    display: grid;
    grid-template-columns: 40px auto 40%;
    padding-left: 280px;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-color: black;
    position: sticky;
}

.header__logo{
    padding-left: 50px;
    padding-top:6px;
}

.header__buttons{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 20px;
    padding-top: 27px;
}

.header__button-favourite{
    padding-top: 5px;
}